{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block leftbar %}
    <div class="col-sm-3">

    </div>
{% endblock leftbar %} 


{% block content %}
    <div class="col-sm-9">
        <div id="uploadedImage"></div>
            <div class="mt-4">
                <form action="" enctype="multipart/form-data" id="imageUploadForm" method="post"> 
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-outline-success" type="submit">Отправить</button>
                </form>
            </div>
        </div>
        <div class="mt-4">
            {% if inference_image_ela %}
            <img src="{{inference_image_ela}}" width="300" height="300">
            {% else %}
            Выберите изображение и отправьте его
            {% endif %}
            {% if inference_image_grad %}
            <img src="{{inference_image_grad}}" width="300" height="300">
            {% endif %}
            {% if inference_image_noise %}
            <img src="{{inference_image_noise}}" width="300" height="300">
            {% endif %}
            {% if txt %}
            <div>{{txt}}</div>
            {% endif %}
        </div>    
    </div>
{% endblock content %}